<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/beyond.png` | relURL }}" width="200" height="140" alt="Bootstrap">
        <h2 class="h2">Beyond weather<small class="d-none">🛡️</small></h2>
        <p> Go beyond the weather report to get recommendations for what clothing are recommended for the day's weather.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/world.png` | relURL }}" width="160" height="140" alt="Bootstrap">
        <h2 class="h2">Browse around the world <small class="d-none">🚀</small></h2>
        <p> View the weather and fashion reports in any city, to learn more about future destinations and homes.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/media.png` | relURL }}" width="120" height="140" alt="Bootstrap">
        <h2 class="h2">Share and browse <small class="d-none">📈</small></h2>
        <p> Share your outfits for the day and if they were right for the weather, and browse what others thought.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Custom recommendations <small class="d-none">🦉</small></h2>
        <p> Use AI powered tools to personalize your recommended outfits for your unique temperature experience.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">More information than ever <small class="d-none">✨</small></h2>
        <p> Go beyond the weather report to access a database of information on the real feel other weather.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Foster independence <small class="d-none">🧰</small></h2>
        <p> Get the tools you need to dress yourself properly for the weather, without anyone's help.</p>
    </div>
</div>
